body {
    background-color: #252423;
    margin: 1rem;
}

.page {
    width: 600px;
    margin: 0 auto;
}

input {
    background: black;
    border: 1px solid #797775;
    color: white;
}

button {
    background: #ffc83d;
    border: 3px solid #ffc83d;
    color: black;
}

.players {
    margin: 1rem;
}

.player {
    display: block;
    padding: .3rem;
    margin-right: .2rem;
    float: left;
    border-radius: 5px;
}

    .player.player-active {
        outline: 1px solid white;
    }

    .player.player-owner {
        font-weight: bold;
    }

.player-0 {
    background-color: #ca5010;
}

.player-1 {
    background-color: #4f6bed;
}

.player-2 {
    background-color: #498205;
}

.player-3 {
    background-color: #881798;
}

.player-4 {
    background-color: #00b294;
}

.player-5 {
    background-color: #ffc83d;
}

.player-6 {
    background-color: #0078d4;
}

.player-7 {
    background-color: #986f0b;
}

.fields {
    margin: 1rem;
}

.field {
    display: block;
    padding: .3rem;
    margin-right: .2rem;
    float: left;
    border-radius: 5px;
}
    .field.field-owned {
        cursor: pointer;
    }
    .field.field-owned:hover {
        outline: 1px solid white;
    }
