* {
    font-family: Verdana;
    font-size: 16px;
}

body {
    background-color: #252423;
    margin: 1rem;
}

.page {
    width: 720px;
    margin: 0 auto;
}

input {
    background: black;
    border: 1px solid #797775;
    color: white;
}

.connection-state {
    padding: 1rem;
    background: #c19c00;
}

button {
    background: #ffc83d;
    border: 3px solid #ffc83d;
    color: black;
}

    button.sending {
        background: #b1adab;
        border: 3px solid #b1adab;
        cursor: wait;
    }

.winner {
    margin: 0 auto;
    width: 10rem;
    padding: 2rem;
    text-align: center;
}

.players {
    margin: 1rem;
    width: 100%;
    clear: both;
    height: 4rem;
}

.player {
    display: block;
    padding: .3rem;
    margin-right: .2rem;
    margin-bottom: .2rem;
    float: left;
    border-radius: 5px;
}

    .player.player-active {
        outline: 1px solid white;
    }

    .player.player-you {
        color: white;
    }

    .player.player-dead {
        background-color: #a0aeb2 !important;
    }

    .player.player-not-ready {
        opacity: .5;
    }


.buttons {
    margin: 1rem;
    width: 100%;
    clear: both;
    height: 4rem;
}

    .buttons p {
        color: #d13438;
    }

.fields {
    margin: 1rem;
    width: 100%;
    height: 600px;
    position: relative;
    cursor: default;
}

    .fields.wait {
        cursor: wait;
    }

.label {
    position: absolute;
    width: 26px;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

    .label.label-attack {
        color: white;
    }

    .label.label-defend {
        color: white;
    }

.hexagon {
    position: absolute;
    width: 26px;
    height: 24px;
    background-color: transparent !important;
    cursor: not-allowed;
}

    .hexagon .left {
        float: left;
        width: 0;
        border-right-width: 6px;
        border-right-style: solid;
        border-top: 12px solid transparent !important;
        border-bottom: 12px solid transparent !important;
        background-color: transparent !important;
    }

    .hexagon .middle {
        float: left;
        width: 14px;
        height: 23px;
        border-bottom: 1px solid #252423 !important;
    }

    .hexagon .right {
        float: left;
        width: 0;
        border-left-width: 6px;
        border-left-style: solid;
        border-top: 12px solid transparent !important;
        border-bottom: 12px solid transparent !important;
        background-color: transparent !important;
    }

    .hexagon .modifier {
        position: absolute;
        left: 0;
        top: 0;
        width: 26px;
        height: 26px;
        background-color: transparent !important;
    }

        .hexagon .modifier > * {
            background-color: transparent;
            border-color: transparent;
        }

        .hexagon .modifier .middle {
            border-bottom: 0;
        }

    .hexagon .hover {
        position: absolute;
        left: 0;
        top: 0;
        width: 26px;
        height: 26px;
        background-color: transparent !important;
    }

        .hexagon .hover > * {
            background-color: transparent;
            border-color: transparent;
        }

.field-hoverable, .field-hoverable *, .field-hoverable .label {
    cursor: pointer;
}


.modifier.mod-attacking-success * {
    background-color: rgba(0, 255, 0, 1);
    border-color: rgba(0, 255, 0, 1);
    animation: fade1 2s forwards;
}

.modifier.mod-defending-success * {
    background-color: rgba(255, 0, 0, 1);
    border-color: rgba(255, 0, 0, 1);
    animation: fade2 2s forwards;
}

.modifier.mod-1-dice-added * {
    background-color: rgba(255, 255, 0, 0.4);
    border-color: rgba(255, 255, 0, 0.4);
    animation: fade 2s forwards;
}

.modifier.mod-2-dice-added * {
    background-color: rgba(255, 255, 0, 0.5);
    border-color: rgba(255, 255, 0, 0.5);
    animation: fade 2s forwards;
}

.modifier.mod-3-dice-added * {
    background-color: rgba(255, 255, 0, 0.6);
    border-color: rgba(255, 255, 0, 0.6);
    animation: fade 2s forwards;
}

.modifier.mod-4-dice-added * {
    background-color: rgba(255, 255, 0, 0.7);
    border-color: rgba(255, 255, 0, 0.7);
    animation: fade 2s forwards;
}

.modifier.mod-5-dice-added * {
    background-color: rgba(255, 255, 0, 0.8);
    border-color: rgba(255, 255, 0, 0.8);
    animation: fade 2s forwards;
}

.modifier.mod-6-dice-added * {
    background-color: rgba(255, 255, 0, 0.9);
    border-color: rgba(255, 255, 0, 0.9);
    animation: fade 2s forwards;
}

.modifier.mod-7-dice-added * {
    background-color: rgba(255, 255, 0, 1);
    border-color: rgba(255, 255, 0, 1);
    animation: fade 2s forwards;
}

.attack {
    margin: 1rem;
    width: 100%;
    clear: both;
    height: 4rem;
}

    .attack .attacker, .attack .defender {
        padding: 1rem;
        width: 25px;
        height: 25px;
        margin: 1rem;
        float: left;
        text-align: center;
        line-height: 25px;
    }

    .attack .attacked {
        padding: 1rem;
        height: 25px;
        margin: 1rem;
        float: left;
        text-align: center;
        line-height: 25px;
        color: #fff;
    }

.player-0, .player-0 > * {
    /* Orange20 */
    background-color: #ca5010;
    border-color: #ca5010;
}

.player-1, .player-1 > * {
    /* Blue10 */
    background-color: #4f6bed;
    border-color: #4f6bed;
}

.player-2, .player-2 > * {
    /* Green10 */
    background-color: #498205;
    border-color: #498205;
}

.player-3, .player-3 > * {
    /* Magenta20 */
    background-color: #881798;
    border-color: #881798;
}

.player-4, .player-4 > * {
    /* Green (Dark) */
    background-color: #00b294;
    border-color: #00b294;
}

.player-5, .player-5 > * {
    /* Yellow (Dark) */
    background-color: #ffc83d;
    border-color: #ffc83d;
}

.player-6, .player-6 > * {
    /* MagentaPink10 */
    background-color: #e3008c;
    border-color: #e3008c;
}

.player-7, .player-7 > * {
    /* OrangeYellow20 */
    background-color: #986f0b;
    border-color: #986f0b;
}

[data-hover="0"] .field-0 .hover > *,
[data-hover="1"] .field-1 .hover > *,
[data-hover="2"] .field-2 .hover > *,
[data-hover="3"] .field-3 .hover > *,
[data-hover="4"] .field-4 .hover > *,
[data-hover="5"] .field-5 .hover > *,
[data-hover="6"] .field-6 .hover > *,
[data-hover="7"] .field-7 .hover > *,
[data-hover="8"] .field-8 .hover > *,
[data-hover="9"] .field-9 .hover > *,
[data-hover="10"] .field-10 .hover > *,
[data-hover="11"] .field-11 .hover > *,
[data-hover="12"] .field-12 .hover > *,
[data-hover="13"] .field-13 .hover > *,
[data-hover="14"] .field-14 .hover > *,
[data-hover="15"] .field-15 .hover > *,
[data-hover="16"] .field-16 .hover > *,
[data-hover="17"] .field-17 .hover > *,
[data-hover="18"] .field-18 .hover > *,
[data-hover="19"] .field-19 .hover > *,
[data-hover="20"] .field-20 .hover > *,
[data-hover="21"] .field-21 .hover > *,
[data-hover="22"] .field-22 .hover > *,
[data-hover="23"] .field-23 .hover > *,
[data-hover="24"] .field-24 .hover > *,
[data-hover="25"] .field-25 .hover > *,
[data-hover="26"] .field-26 .hover > *,
[data-hover="27"] .field-27 .hover > *,
[data-hover="28"] .field-28 .hover > *,
[data-hover="29"] .field-29 .hover > *,
[data-hover="30"] .field-30 .hover > *,
[data-hover="31"] .field-31 .hover > * {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
    animation: none;
}

.field-attackable, field-attackable > * {
    cursor: pointer !important;
}

.mod-0 > * {
    filter: brightness(1.05);
}

.mod-1 > * {
    filter: brightness(.95);
}

.mod-2 > * {
    filter: brightness(1.15);
}

.mod-3 > * {
    filter: brightness(.85);
}

.mod-4 > * {
    filter: brightness(1.1);
}

.mod-5 > * {
    filter: brightness(.9);
}

.mod-6 > * {
    filter: brightness(1.075);
}

.mod-7 > * {
    filter: brightness(.925);
}

.mod-8 > * {
    filter: brightness(1.125);
}

.mod-9 > * {
    filter: brightness(.875);
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade1 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
