* {
    font-family: Verdana;
    font-size: 16px;
    cursor: default;
}

body {
    background-color: #252423;
    margin: 1rem;
}

.page {
    width: 720px;
    margin: 0 auto;
}

input {
    background: black;
    border: 1px solid #797775;
    color: white;
}

.connection-state {
    padding: 1rem;
    background: #c19c00;
}

.loading {
    padding: 1rem;
    background: #00ad56;
}

button {
    background: #ffc83d;
    border: 3px solid #ffc83d;
    color: black;
    cursor: pointer;
}

    button.sending {
        background: #b1adab;
        border: 3px solid #b1adab;
        cursor: wait;
    }

.winner {
    margin: 0 auto;
    width: 10rem;
    padding: 2rem;
    text-align: center;
}

.players {
    margin: 1rem;
    width: 100%;
    clear: both;
    height: 4rem;
}

.player {
    display: block;
    padding: .3rem;
    margin-right: .2rem;
    margin-bottom: .2rem;
    float: left;
    border-radius: 5px;
}

    .player.player-active {
        outline: 1px solid white;
    }

    .player.player-you {
        color: white;
    }

    .player.player-dead {
        background-color: #a0aeb2 !important;
    }

    .player.player-not-ready {
        opacity: .5;
    }


.buttons {
    margin: 1rem;
    width: 100%;
    clear: both;
    height: 4rem;
}

    .buttons p {
        color: #d13438;
    }

.fields {
    margin: 1rem;
    width: 100%;
    height: 600px;
    position: relative;
    cursor: default;
}

    .fields.wait {
        cursor: wait;
    }

.label {
    position: absolute;
    width: 26px;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

    .label.label-attack {
        color: white;
    }

    .label.label-defend {
        color: white;
    }

.hexagon {
    position: absolute;
    width: 26px;
    height: 24px;
    background-color: transparent !important;
    cursor: not-allowed;
}

    .hexagon .left {
        float: left;
        width: 0;
        border-right-width: 6px;
        border-right-style: solid;
        border-top: 12px solid transparent !important;
        border-bottom: 12px solid transparent !important;
        background-color: transparent !important;
    }

    .hexagon .middle {
        float: left;
        width: 14px;
        height: 23px;
        border-bottom: 1px solid #252423 !important;
    }

    .hexagon .right {
        float: left;
        width: 0;
        border-left-width: 6px;
        border-left-style: solid;
        border-top: 12px solid transparent !important;
        border-bottom: 12px solid transparent !important;
        background-color: transparent !important;
    }

    .hexagon .modifier {
        position: absolute;
        left: 0;
        top: 0;
        width: 26px;
        height: 26px;
        background-color: transparent !important;
    }

        .hexagon .modifier > * {
            background-color: transparent;
            border-color: transparent;
        }

        .hexagon .modifier .middle {
            border-bottom: 0;
        }

    .hexagon .hover {
        position: absolute;
        left: 0;
        top: 0;
        width: 26px;
        height: 26px;
        background-color: transparent !important;
    }

        .hexagon .hover > * {
            background-color: transparent;
            border-color: transparent;
        }

.field-hoverable, .field-hoverable *, .field-hoverable .label {
    cursor: pointer;
}

.modifier.mod-attacking-success * {
    background-color: rgba(0, 255, 0, 1);
    border-color: rgba(0, 255, 0, 1);
    animation: fade1 2s forwards;
}

.modifier.mod-defending-success * {
    background-color: rgba(255, 0, 0, 1);
    border-color: rgba(255, 0, 0, 1);
    animation: fade2 2s forwards;
}

.modifier.mod-1-dice-added * {
    background-color: rgba(255, 255, 0, 0.4);
    border-color: rgba(255, 255, 0, 0.4);
    animation: fade 2s forwards;
}

.modifier.mod-2-dice-added * {
    background-color: rgba(255, 255, 0, 0.5);
    border-color: rgba(255, 255, 0, 0.5);
    animation: fade 2s forwards;
}

.modifier.mod-3-dice-added * {
    background-color: rgba(255, 255, 0, 0.6);
    border-color: rgba(255, 255, 0, 0.6);
    animation: fade 2s forwards;
}

.modifier.mod-4-dice-added * {
    background-color: rgba(255, 255, 0, 0.7);
    border-color: rgba(255, 255, 0, 0.7);
    animation: fade 2s forwards;
}

.modifier.mod-5-dice-added * {
    background-color: rgba(255, 255, 0, 0.8);
    border-color: rgba(255, 255, 0, 0.8);
    animation: fade 2s forwards;
}

.modifier.mod-6-dice-added * {
    background-color: rgba(255, 255, 0, 0.9);
    border-color: rgba(255, 255, 0, 0.9);
    animation: fade 2s forwards;
}

.modifier.mod-7-dice-added * {
    background-color: rgba(255, 255, 0, 1);
    border-color: rgba(255, 255, 0, 1);
    animation: fade 2s forwards;
}

.attack {
    margin: 1rem;
    width: 100%;
    clear: both;
    height: 4rem;
}

    .attack .attacker, .attack .defender {
        padding: 1rem .5rem;
        margin: 1rem;
        float: left;
        text-align: center;
        line-height: 25px;
        background-color: transparent !important;
        max-width: 160px;
    }

    .attack .attacked {
        padding: 1rem .5rem;
        height: 25px;
        margin: 1rem;
        float: left;
        text-align: center;
        line-height: 35px;
        color: #fff;
    }

    .attack .die {
        display: grid;
        grid-template-areas:
            "a . c"
            "e g f"
            "d . b";
        flex: 0 0 auto;
        margin: 4px;
        padding: 3px;
        width: 26px;
        height: 26px;
        box-shadow: inset 0 1px white, inset 0 -1px #bbb, inset 1px 0 #d7d7d7, inset -1px 0 #d7d7d7;
        border-radius: 10%;
        float: left;
    }

        .attack .die .pip {
            display: block;
            align-self: center;
            justify-self: center;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #333;
            box-shadow: inset 0 3px #111, inset 0 -3px #555;
        }

            .attack .die .pip:nth-child(2) {
                grid-area: b;
            }

            .attack .die .pip:nth-child(3) {
                grid-area: c;
            }

            .attack .die .pip:nth-child(4) {
                grid-area: d;
            }

            .attack .die .pip:nth-child(5) {
                grid-area: e;
            }

            .attack .die .pip:nth-child(6) {
                grid-area: f;
            }
            /* This selects the last pip of odd-valued dice (1, 3, 5) and positions the pip in the center */
            .attack .die .pip:nth-child(odd):last-child {
                grid-area: g;
            }

.player-0, .player-0 > * {
    /* Yellow (Dark) */
    background-color: #ffc83d;
    border-color: #ffc83d;
}

.player-1, .player-1 > * {
    /* MagentaPink10 */
    background-color: #e3008c;
    border-color: #e3008c;
}

.player-2, .player-2 > * {
    /* Blue10 */
    background-color: #4f6bed;
    border-color: #4f6bed;
}

.player-3, .player-3 > * {
    /* OrangeYellow20 */
    background-color: #986f0b;
    border-color: #986f0b;
}

.player-4, .player-4 > * {
    /* Green (Dark) */
    background-color: #00b294;
    border-color: #00b294;
}

.player-5, .player-5 > * {
    /* Green10 */
    background-color: #498205;
    border-color: #498205;
}

.player-6, .player-6 > * {
    /* Magenta20 */
    background-color: #881798;
    border-color: #881798;
}

.player-7, .player-7 > * {
    /* Orange20 */
    background-color: #ca5010;
    border-color: #ca5010;
}


[data-fieldhover="0"] .field-0 .hover > *,
[data-fieldhover="1"] .field-1 .hover > *,
[data-fieldhover="2"] .field-2 .hover > *,
[data-fieldhover="3"] .field-3 .hover > *,
[data-fieldhover="4"] .field-4 .hover > *,
[data-fieldhover="5"] .field-5 .hover > *,
[data-fieldhover="6"] .field-6 .hover > *,
[data-fieldhover="7"] .field-7 .hover > *,
[data-fieldhover="8"] .field-8 .hover > *,
[data-fieldhover="9"] .field-9 .hover > *,
[data-fieldhover="10"] .field-10 .hover > *,
[data-fieldhover="11"] .field-11 .hover > *,
[data-fieldhover="12"] .field-12 .hover > *,
[data-fieldhover="13"] .field-13 .hover > *,
[data-fieldhover="14"] .field-14 .hover > *,
[data-fieldhover="15"] .field-15 .hover > *,
[data-fieldhover="16"] .field-16 .hover > *,
[data-fieldhover="17"] .field-17 .hover > *,
[data-fieldhover="18"] .field-18 .hover > *,
[data-fieldhover="19"] .field-19 .hover > *,
[data-fieldhover="20"] .field-20 .hover > *,
[data-fieldhover="21"] .field-21 .hover > *,
[data-fieldhover="22"] .field-22 .hover > *,
[data-fieldhover="23"] .field-23 .hover > *,
[data-fieldhover="24"] .field-24 .hover > *,
[data-fieldhover="25"] .field-25 .hover > *,
[data-fieldhover="26"] .field-26 .hover > *,
[data-fieldhover="27"] .field-27 .hover > *,
[data-fieldhover="28"] .field-28 .hover > *,
[data-fieldhover="29"] .field-29 .hover > *,
[data-fieldhover="30"] .field-30 .hover > *,
[data-fieldhover="31"] .field-31 .hover > * {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
    animation: none;
}

[data-playerhover="0"] .player-1 *,
[data-playerhover="0"] .player-2 *,
[data-playerhover="0"] .player-3 *,
[data-playerhover="0"] .player-4 *,
[data-playerhover="0"] .player-5 *,
[data-playerhover="0"] .player-6 *,
[data-playerhover="0"] .player-7 *,
[data-playerhover="1"] .player-0 *,
[data-playerhover="1"] .player-2 *,
[data-playerhover="1"] .player-3 *,
[data-playerhover="1"] .player-4 *,
[data-playerhover="1"] .player-5 *,
[data-playerhover="1"] .player-6 *,
[data-playerhover="1"] .player-7 *,
[data-playerhover="2"] .player-0 *,
[data-playerhover="2"] .player-1 *,
[data-playerhover="2"] .player-3 *,
[data-playerhover="2"] .player-4 *,
[data-playerhover="2"] .player-5 *,
[data-playerhover="2"] .player-6 *,
[data-playerhover="2"] .player-7 *,
[data-playerhover="3"] .player-0 *,
[data-playerhover="3"] .player-1 *,
[data-playerhover="3"] .player-2 *,
[data-playerhover="3"] .player-4 *,
[data-playerhover="3"] .player-5 *,
[data-playerhover="3"] .player-6 *,
[data-playerhover="3"] .player-7 *,
[data-playerhover="4"] .player-0 *,
[data-playerhover="4"] .player-1 *,
[data-playerhover="4"] .player-2 *,
[data-playerhover="4"] .player-3 *,
[data-playerhover="4"] .player-5 *,
[data-playerhover="4"] .player-6 *,
[data-playerhover="4"] .player-7 *,
[data-playerhover="5"] .player-0 *,
[data-playerhover="5"] .player-1 *,
[data-playerhover="5"] .player-2 *,
[data-playerhover="5"] .player-3 *,
[data-playerhover="5"] .player-4 *,
[data-playerhover="5"] .player-6 *,
[data-playerhover="5"] .player-7 *,
[data-playerhover="6"] .player-0 *,
[data-playerhover="6"] .player-1 *,
[data-playerhover="6"] .player-2 *,
[data-playerhover="6"] .player-3 *,
[data-playerhover="6"] .player-4 *,
[data-playerhover="6"] .player-5 *,
[data-playerhover="6"] .player-7 *,
[data-playerhover="7"] .player-0 *,
[data-playerhover="7"] .player-1 *,
[data-playerhover="7"] .player-2 *,
[data-playerhover="7"] .player-3 *,
[data-playerhover="7"] .player-4 *,
[data-playerhover="7"] .player-5 *,
[data-playerhover="7"] .player-6 * {
    opacity: .3;
}


.field-attackable, field-attackable > * {
    cursor: pointer !important;
}

.mod-0 > * {
    filter: brightness(1.05);
}

.mod-1 > * {
    filter: brightness(.95);
}

.mod-2 > * {
    filter: brightness(1.15);
}

.mod-3 > * {
    filter: brightness(.85);
}

.mod-4 > * {
    filter: brightness(1.1);
}

.mod-5 > * {
    filter: brightness(.9);
}

.mod-6 > * {
    filter: brightness(1.075);
}

.mod-7 > * {
    filter: brightness(.925);
}

.mod-8 > * {
    filter: brightness(1.125);
}

.mod-9 > * {
    filter: brightness(.875);
}

.heatmap .label {
    display: none;
}

.heatmap .hexagon.heat-0 > * {
    background-color: #160600;
    border-color: #160600;
}

.heatmap .hexagon.heat-1 > * {
    background-color: #2c0c00;
    border-color: #2c0c00;
}

.heatmap .hexagon.heat-2 > * {
    background-color: #411200;
    border-color: #411200;
}

.heatmap .hexagon.heat-3 > * {
    background-color: #571800;
    border-color: #571800;
}

.heatmap .hexagon.heat-4 > * {
    background-color: #6d1e01;
    border-color: #6d1e01;
}

.heatmap .hexagon.heat-5 > * {
    background-color: #832301;
    border-color: #832301;
}

.heatmap .hexagon.heat-6 > * {
    background-color: #992901;
    border-color: #992901;
}

.heatmap .hexagon.heat-7 > * {
    background-color: #ae2f01;
    border-color: #ae2f01;
}

.heatmap .hexagon.heat-8 > * {
    background-color: #c43501;
    border-color: #c43501;
}

.heatmap .hexagon.heat-9 > * {
    background-color: #da3b01;
    border-color: #da3b01;
}

.heatmap .hexagon.heat-10 > * {
    background-color: #ff0000;
    border-color: #ff0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3rem;
}

    table td {
        color: #a0aeb2;
        padding: .3rem;
        border-bottom: 1px solid #393939;
    }

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade1 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
